@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
.u-margin-left {
  margin-left: 3.2rem; }

.u-padding-bottom {
  padding-bottom: 1.6rem; }

.u-padding {
  padding: 6.4rem 3.2rem 0 3.2rem; }

:root {
  --primary-desaturated-red: hsl(0, 36%, 70%);
  --primary-soft-red: hsl(0, 93%, 68%);
  --neutral-dark-grayish-red: hsl(0, 6%, 24%);
  --linear-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --linear-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 8.4rem min-content min-content;
  min-height: 100vh;
  background: var(--linear-1); }

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: clamp(4rem, 10.667vw, 6.4rem); }

.paragraph {
  font-size: clamp(1.4rem, 3.733vw, 1.6rem); }

.announcement {
  display: grid;
  row-gap: 1.6rem; }
  .announcement__heading {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 10.83px;
    line-height: 1.05;
    color: var(--neutral-dark-grayish-red); }
    .announcement__heading--span {
      font-weight: 300;
      color: var(--primary-desaturated-red); }
  .announcement__paragraph {
    color: var(--primary-desaturated-red);
    text-align: center;
    line-height: 1.57; }

.header {
  display: grid;
  align-content: center; }
  .header__logo {
    width: 10rem; }

.hero__img {
  width: 100%; }
