@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --linear-1: linear-gradient(135deg, #ffffff, #fff5f5);
  --linear-2: linear-gradient(135deg, #f8bfbf, #ee8c8c); }

.u-margin-left {
  margin-left: 3.2rem; }

.u-margin-left-sm {
  margin-left: 2.4rem; }

.u-padding-bottom {
  padding-bottom: 1.6rem; }

.u-padding {
  padding: 6.4rem 3.2rem 9.2rem 3.2rem; }

.u-error {
  color: #f96262; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 8.4rem min-content min-content;
  min-height: 100vh;
  background: var(--linear-1); }

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: clamp(4rem, 10.667vw, 6.4rem); }

.paragraph {
  font-size: clamp(1.4rem, 3.733vw, 1.6rem); }

.announcement {
  display: grid;
  row-gap: 1.6rem; }
  .announcement__heading {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 10.83px;
    line-height: 1.05;
    color: #413a3a; }
    .announcement__heading--span {
      font-weight: 300;
      color: #ce9797; }
  .announcement__paragraph {
    color: #ce9797;
    text-align: center;
    line-height: 1.57; }
  .announcement__form {
    position: relative;
    display: block;
    width: 100%; }
  .announcement__label {
    color: #ce9797;
    position: absolute;
    left: 0%;
    top: -1.8rem;
    transition: all 0.2s; }
  .announcement__input {
    background: transparent;
    border: 1px solid #ce9797;
    padding: 1.1rem 10rem 1.1rem 2.4rem;
    border-radius: 2.8rem;
    line-height: 1.7;
    font-family: inherit;
    outline: none;
    width: 100%; }
    .announcement__input::placeholder {
      color: #ce9797; }
  .announcement__input:placeholder-shown ~ .announcement__label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(2rem); }
  .announcement__input:invalid ~ .announcement__message {
    opacity: 1;
    bottom: -2rem; }
  .announcement__input:invalid ~ .announcement__error {
    opacity: 1; }
  .announcement__error {
    position: absolute;
    right: 7rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.2s; }
  .announcement__btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 6.4rem;
    background: var(--linear-2);
    border: none;
    border-radius: 2.8rem;
    cursor: pointer;
    box-shadow: 0 1.5rem 2rem #ce9797; }
  .announcement__message {
    font-size: 1.3rem;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: all 0.2s; }

.header {
  display: grid;
  align-content: center; }
  .header__logo {
    width: 10rem; }

.hero__img {
  width: 100%; }
