/////////////////////////////////////
//BREAKPOINTS
$primary-desaturated-red: #ce9797;
$primary-soft-red: #f96262;
$neutral-dark-grayish-red: #413a3a;

/////////////////////////////////////
//ROOT VARIABLES
:root {
  --linear-1: linear-gradient(135deg, #ffffff, #fff5f5);
  --linear-2: linear-gradient(135deg, #f8bfbf, #ee8c8c);
}
