.announcement {
  display: grid;
  row-gap: 1.6rem;

  &__heading {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 10.83px;
    line-height: 1.05;
    color: $neutral-dark-grayish-red;

    &--span {
      font-weight: 300;
      color: $primary-desaturated-red;
    }

    @media screen and (min-width: $bp-medium) {
      text-align: left;
    }
  }

  &__paragraph {
    color: $primary-desaturated-red;
    text-align: center;
    line-height: 1.57;

    @media screen and (min-width: $bp-medium) {
      text-align: left;
    }
  }

  &__form {
    position: relative;
    display: block;
    width: 100%;
    height: min-content;
  }

  &__label {
    color: $primary-desaturated-red;
    position: absolute;
    left: 0%;
    top: -1.8rem;
    transition: all 0.2s;
  }

  &__input {
    background: transparent;
    border: 1px solid $primary-desaturated-red;
    padding: 1.1rem 10rem 1.1rem 2.4rem;
    border-radius: 2.8rem;
    line-height: 1.7;
    font-family: inherit;
    outline: none;
    width: 100%;

    &::placeholder {
      color: $primary-desaturated-red;
    }
  }

  &__input:placeholder-shown ~ &__label {
    @include hideEl;
    transform: translateY(2rem);
  }

  &__input:invalid {
    border: 2px solid $primary-soft-red;
  }

  &__input:invalid ~ &__message {
    @include showEl;

    bottom: -2rem;
  }

  &__input:invalid ~ &__error {
    @include showEl;
  }

  &__error {
    @include hideEl;

    position: absolute;
    right: 7rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
  }

  &__btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 6.4rem;
    background: var(--linear-2);
    border: none;
    border-radius: 2.8rem;
    cursor: pointer;
    box-shadow: 0 1.5rem 2rem rgba($primary-desaturated-red, 24.76%);
  }

  &__message {
    @include hideEl;
    font-size: 1.3rem;
    position: absolute;
    bottom: 2rem;
    transition: all 0.2s;
  }
}
