.header {
  display: grid;
  align-content: center;

  @media screen and (min-width: $bp-large) {
    grid-column: 1 / 2;
    height: min-content;
    margin-top: 6.5rem;
  }

  &__logo {
    width: 26.667vw;
    max-width: 15.8rem;
  }
}
